html, body {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#grid {
  display: grid;
  width: 800px;
  height: 800px;
  grid-gap: 0;
  margin: auto;
  justify-content: stretch;
  border: 1px solid black;
}

.active {
  background-color: coral;
}

button {
  display: block;
  margin: auto;
  margin-bottom: 5px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 1.3rem;
  padding: 5px;
}

button:hover {
  cursor: pointer;
  background-color: rgb(241, 237, 241);
}